<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/background.jpg" alt="img-fluid" title="Twinkal raj">
                        </figure>
                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Twinkal's Weather app</p>
                        <h1>I am A <span class="text_clr"> Mern Stak Developer, </span> And a Freelancer.</h1>
                        <a href="https://www.facebook.com/hindcorporation"><button Style="font-weight: 400;">More About
                                Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    <!-- <script src="https://kit.fontawesome.com/dd55ac8bc9.js" crossorigin="anonymous"></script> -->
</body>

</html>